
.galleryList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
  
    &-item {
      position: relative;
      line-height: 0;
    }
  }
  
  .addIcon {
    position: absolute;
      z-index: 10;
      top: 5px;
      right: 5px;
      cursor: pointer;
  
      svg {
        height: 20px;
        width: 20px;
        fill: var(--white);
      }
  }
  